@model GestionColegios.ViewModels.VMAñosAcademicos

@{
    ViewBag.Title = "Gestionar Años Académicos";
}

<h2>Gestionar Años Académicos</h2>

<div class="container mt-1">

    <ul class="nav nav-tabs" id="myTab" role="tablist">

        <li class="nav-item" role="presentation">
            <button class="nav-link" id="listar-tab" data-bs-toggle="tab" data-bs-target="#listar" type="button" role="tab" aria-controls="listar" aria-selected="false">Listar Años Académicos</button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="crear-editar-tab" data-bs-toggle="tab" data-bs-target="#crear-editar" type="button" role="tab" aria-controls="crear-editar" aria-selected="true">Crear/Editar Año Académico</button>
        </li>

    </ul>

    <div class="tab-content" id="myTabContent">
        @Html.Partial("_CrearEditarAñoAcademico", Model)
        @Html.Partial("_ListarAñosAcademicos", Model)
    </div>
</div>
