.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 25rem;
    background-color: var(--white);
    height: 100vh;
    border-right: var(--border);
    z-index: 1200;
}

    .side-bar #close-btn {
        text-align: right;
        padding: 2rem;
        display: none;
    }

        .side-bar #close-btn i {
            text-align: right;
            font-size: 2.5rem;
            background: var(--red);
            border-radius: .5rem;
            color: var(--white);
            cursor: pointer;
            height: 4.5rem;
            width: 4.5rem;
            line-height: 4.5rem;
            text-align: center;
        }

            .side-bar #close-btn i:hover {
                background-color: var(--black);
            }

    .side-bar .profile {
        padding: 3rem 2rem;
        text-align: center;
    }

        .side-bar .profile .image {
            height: 10rem;
            width: 10rem;
            border-radius: 50%;
            object-fit: contain;
            margin-bottom: 1rem;
        }

        .side-bar .profile .name {
            font-size: 2rem;
            color: var(--black);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .side-bar .profile .role {
            font-size: 1.8rem;
            color: var(--light-color);
        }

    .side-bar .navbarr a {
        display: block;
        padding: 2rem;
        font-size: 2rem;
        text-decoration: none !important;
    }

        .side-bar .navbarr a i {
            margin-right: 1.5rem;
            color: var(--main-color);
            transition: .2s linear;
            text-decoration: none !important;
        }

        .side-bar .navbarr a span {
            color: var(--light-color);
            text-decoration: none !important;
        }

        .side-bar .navbarr a:hover {
            background-color: var(--light-bg);
        }

            .side-bar .navbarr a:hover i {
                margin-right: 2.5rem;
            }

    .side-bar.active {
        left: -25rem;
    }


@media (max-width:1200px) {
    .side-bar {
        left: -30rem;
        transition: .2s linear;
    }

        .side-bar #close-btn {
            display: block;
        }

        .side-bar.active {
            left: 0;
            box-shadow: 0 0 0 100vw rgba(0,0,0,.8);
            border-right: 0;
        }
}
