:root {
    --main-color: #f39c12;
    --red: #e74c3c;
    --orange: #f39c12;
    --light-color: #888;
    --light-bg: #eee;
    --black: #2c3e50;
    --white: #fff;
    --color-default: #004f83;
    --color-second: #0067ac;
    --color-body: #e4e9f7;
    --color-light: #e0e0e0;
    --azul-bandera: #0038A8;
    --border: .1rem solid rgba(0,0,0,.2);
    --white-side: #fff;
    --hover: #00BFFF;
    text-decoration: none;
}


body.dark {
    --light-color: #aaa;
    --light-bg: #333;
    --black: #fff;
    --white: #222;
    --azul-bandera: #222;
    --hover: #00BFFF;
    --border: .1rem solid rgba(255,255,255,.2);
    text-decoration: none;
}
