@model GestionColegios.ViewModels.VMCursoAcademico.VMCursosAcademicos

@{
    ViewBag.Title = "Gestionar Cursos Académicos";
}

<h2>Gestionar Cursos Académicos</h2>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="listar-tab" data-bs-toggle="tab" data-bs-target="#listar" type="button" role="tab" aria-controls="listar" aria-selected="true">Listar Cursos</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="agregar-tab" data-bs-toggle="tab" data-bs-target="#agregar" type="button" role="tab" aria-controls="agregar" aria-selected="false">Agregar Curso</button>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="listar" role="tabpanel" aria-labelledby="listar-tab">
        @Html.Partial("_CursosList", Model.Cursos) 
    </div>
    <div class="tab-pane fade" id="agregar" role="tabpanel" aria-labelledby="agregar-tab">
        @Html.Partial("_CursosCreate", Model) 
    </div>
</div>
