@model GestionColegios.ViewModels.VMCursoAcademico

@{
    ViewBag.Title = "Gestión de Cursos Académicos";
}

<h2>Gestión de Cursos Académicos</h2>

<div class="container mt-1">
    <!-- Tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="listar-cursos-tab" data-bs-toggle="tab" data-bs-target="#listar-cursos" type="button" role="tab" aria-controls="listar-cursos" aria-selected="false">Listar Cursos</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="agregar-curso-tab" data-bs-toggle="tab" data-bs-target="#agregar-curso" type="button" role="tab" aria-controls="agregar-curso" aria-selected="true">Agregar Curso</button>
        </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content" id="myTabContent">
        @Html.Partial("_ListarCursos", Model)
        @Html.Partial("_AgregarCursos", Model)
    </div>
</div>
