@model GestionColegios.ViewModels.VMAñosPeriodosSemestres

<div class="row mt-4">
    <div class="col-md-12">
        <h4>Lista de Años Académicos</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var año in Model.Años)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => año.Nombre)</td>
                        <td>
                            @Html.ActionLink("Editar", "EditAño", new { id = año.Id }, new { @class = "btn btn-warning" }) |
                            @Html.ActionLink("Eliminar", "DeleteAño", new { id = año.Id }, new { @class = "btn btn-danger", onclick = "return confirm('¿Estás seguro de que deseas eliminar este año académico?');" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

