@model GestionColegios.ViewModels.VMAñosPeriodosSemestres

<div class="row mt-4">
    <div class="col-md-12">
        <h4>Lista de Semestres</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var semestre in Model.Semestres)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => semestre.Nombre)</td>

                        <td>
                            @Html.ActionLink("Editar", "EditSemestre", new { id = semestre.Id }, new { @class = "btn btn-warning" }) |
                            @Html.ActionLink("Eliminar", "DeleteSemestre", new { id = semestre.Id }, new { @class = "btn btn-danger", onclick = "return confirm('¿Estás seguro de que deseas eliminar este semestre?');" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
