@model GestionColegios.ViewModels.VMEstudiantes

@{
    ViewBag.Title = "Gestionar Estudiantes";
}


<div class="container mt-2">
    <h2 class="text-center mb-4">Gestionar Estudiantes</h2>

    <!-- Tarjeta con pestañas -->
    <div class="card shadow border-0">
        <div class="card-header text-white">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active fs-4" id="listar-tab" data-bs-toggle="tab" data-bs-target="#listar" type="button" role="tab" aria-controls="listar" aria-selected="true">
                        <i class="bi bi-list me-2"></i>Lista Estudiantes
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link fs-4" id="crear-editar-tab" data-bs-toggle="tab" data-bs-target="#crear-editar" type="button" role="tab" aria-controls="crear-editar" aria-selected="false">
                        <i class="bi bi-person-plus me-2"></i>Nuevo Estudiante
                    </button>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <!-- Pestaña Lista Estudiantes -->
                <div class="tab-pane fade show active" id="listar" role="tabpanel" aria-labelledby="listar-tab">
                    @Html.Partial("_List", Model)
                </div>

                <!-- Pestaña Nuevo Estudiante -->
                <div class="tab-pane fade" id="crear-editar" role="tabpanel" aria-labelledby="crear-editar-tab">
                    @Html.Partial("_Create_Edit", Model)
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .tooltip {
        display: none;
        position: absolute;
        background-color: #f9d6a8;
        border: 1px solid #f0ad4e;
        padding: 5px;
        border-radius: 5px;
        z-index: 1000;
    }

    .has-error {
        position: relative;
    }

        .has-error .tooltip {
            display: block;
        }
</style>




