@model IEnumerable<GestionColegios.Models.Seccion>

<div class="row mt-2">
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="fs-5">Nombre</th>
                    <th class="fs-5">Capacidad Estudiantes</th>
                    <th class="fs-5">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var seccion in Model)
                {
                <tr>
                    <td class="fs-5">@Html.DisplayFor(modelItem => seccion.Nombre)</td>
                    <td class="fs-5">@Html.DisplayFor(modelItem => seccion.CapacidadEstudiantes)</td>
                    <td>
                        <a href="@Url.Action("Edit", "SeccionWeb", new { id = seccion.Id })" class="btn btn-warning btn-sm">
                            Detalles
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
