@model IEnumerable<GestionColegios.Models.Seccion>

@{
    ViewBag.Title = "Gestionar Secciones";
}

@using GestionColegios.ViewModels

<h2>Gestionar Secciones</h2>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="listar-tab" data-bs-toggle="tab" data-bs-target="#listar" type="button" role="tab" aria-controls="listar" aria-selected="true">Listar Secciones</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="agregar-tab" data-bs-toggle="tab" data-bs-target="#agregar" type="button" role="tab" aria-controls="agregar" aria-selected="false">Agregar Sección</button>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="listar" role="tabpanel" aria-labelledby="listar-tab">
        @Html.Partial("_ListarSecciones", Model)
    </div>
    <div class="tab-pane fade" id="agregar" role="tabpanel" aria-labelledby="agregar-tab">
        @Html.Partial("_AgregarSecciones", new VMSeccion())
    </div>
</div>
