@model GestionColegios.ViewModels.VMInventarioAlimento

@{
    ViewBag.Title = "Gestión de Inventario de Alimentos";
}

<h2>Gestión de Inventario de Alimentos</h2>

<div class="container mt-1">

    <ul class="nav nav-tabs" id="myTab" role="tablist">

        <li class="nav-item" role="presentation">
            <button class="nav-link" id="listar-alimentos-tab" data-bs-toggle="tab" data-bs-target="#listar-alimentos" type="button" role="tab" aria-controls="listar-alimentos" aria-selected="false">Listar Alimentos</button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="agregar-alimento-tab" data-bs-toggle="tab" data-bs-target="#agregar-alimento" type="button" role="tab" aria-controls="agregar-alimento" aria-selected="true">Agregar Alimento</button>
        </li>

    </ul>

    <div class="tab-content" id="myTabContent">
        @Html.Partial("_AgregarAlimento", Model)
        @Html.Partial("_ListarAlimentos", Model)
    </div>
</div>
