@model GestionColegios.ViewModels.VMCalificaciones

<table class="table table-bordered" id="tablaEstudiantes">
    <thead>
        <tr>
            <th><input type="checkbox" id="selectAll" /></th>
            <th>Nombre</th>
            <th>Año Académico</th>
            <th>Fecha Matrícula</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var estudiante in Model.Estudiantes.Where(e => Model.Matriculas.Select(m => m.EstudianteId).Contains(e.Id)))
        {
            if (estudiante != null)
            {
                <tr>
                    <td><input type="checkbox" name="estudiantesSeleccionados" value="@estudiante.Id" /></td>
                    <td>@($"{estudiante.Nombres} {estudiante.Apellidos}")</td>
                </tr>
            }
        }
    </tbody>
</table>

