@model GestionColegios.ViewModels.VMCalificaciones

@{
    ViewBag.Title = "Lista de Estudiantes";
}

<div class="row mt-4">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="form-group">
                <label for="searchType">Buscar por:</label>
                <select id="searchType" class="form-select">
                    <option value="nombres">Nombre Estudiante</option>
                    <option value="apellidos">Apellido Estudiante</option>
                    <option value="codigo">Código Estudiante</option>
                    <option value="direccion">Dirección</option>
                </select>
            </div>

            <div class="form-group">
                <input type="text" id="search" class="form-control" placeholder="Buscar...">
            </div>

            <div id="spinner" class="spinner-border text-primary" role="status" style="display: none;">
                <span class="visually-hidden">Cargando...</span>
            </div>
        </div>

        <table style="width: 100%;" class="table-responsive table-striped table-hover table-bordered align-middle">
            <thead style="background-color: #001c7d; color: white;">
                <tr>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                @foreach (var estudiante in Model.Estudiantes)
                {
                    <tr>
                        <td>@estudiante.Nombres</td>
                        <td>@estudiante.Apellidos</td>
                        <td>
                            @Html.ActionLink("Registrar Notas", "SeleccionarParciales", "CalificacionWeb", new { estudianteId = estudiante.Id }, new { @class = "btn btn-sm btn-success" })


                            @Html.ActionLink("Pruebas de Eficiencia Física", "PruebasEficiencia", new { estudianteId = estudiante.Id }, new { @class = "btn btn-sm btn-info" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
